force-app/main/default/flows/Survey_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Survey_Invitation</name>
        <label>Get Survey Invitation</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>SurveyInvitationFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Local_User_Invite_URL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>nombreEncuesta</name>
            <value>
                <elementReference>SurveyDefaultName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Remote_USA_User</name>
        <label>Update Remote USA User</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <actionName>SurveyUpdateUserFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>SurveyDefaultName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Encuesta NPS Pagonxt</stringValue>
        </value>
    </constants>
    <description>Creates a Survey invitation for user, updates in slave org the Surveyable check and inviteURL to be able to consume this SurveyInvitation from a remoteSite.</description>
    <interviewLabel>Survey User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Local_User_Invite_URL</name>
        <label>Update Local User Invite URL</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Remote_USA_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Invitation_URL__c</field>
            <value>
                <elementReference>Get_Survey_Invitation.InvitationLink</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Survey_Invitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>USER_CHK_ShowSurvey_temp_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>USER_CHK_ShowSurvey_temp_c__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
